@import '../../styles/variables/colors.scss';
@import '../../styles/components/card.scss';


.faw-body-container{
	height: 100%;
	background-color: $faw-body-background-color;

	.faw-page-content-container{
		margin-top: 20px;
	}
}