@import '../../../styles/variables/_base.scss';

$faw-header-height: 60px;
$faw-header-content-height: 57px;

.faw-header-container{
	background-color: $faw-header-background-color;
	border-top: 3px solid $faw-primary-color;
	height: $faw-header-height;
	box-sizing: border-box;
}