.faw-quests-container{
	.action-button{
		position: relative;
		float: right;
	}

	.-create-quest-dialog{
		width: 30%;
	}

	#userQuestList{

		.user-quest-row{
			border-bottom: 1px solid rgba(0,0,0,.12);
		}
	}
}