$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'base';
@import '~normalize.css/normalize';
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

html {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}
