$faw-body-background-color: #fff;
$faw-header-background-color: #fafafb;

$faw-primary-color:        #00E5FF;

$faw-primary-color-dark:   #00b8d4;
$faw-primary-color-light:  #18FFFF;

$faw-primary-color-text:   #FFFFFF;

$faw-accent-color:         #FFC107;

$faw-primary-text-color:   #212121;
$faw-secondary-text-color: #757575;

$faw-divider-color:        #BDBDBD;