.btn-success, .btn-warning, .btn-danger{
	color: #fff!important;
}

.btn-success{
	background-color: $faw-success-button-color!important;
}

.btn-warning{
	background-color: $faw-warning-button-color!important;
}

.btn-danger{
	background-color: $faw-danger-button-color!important;
}