@import '../../styles/variables/colors.scss';

#loginLayout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	resize: vertical;
	height: 100%;
	background-color: $faw-primary-color-dark;

	.login-section{
		max-width: 400px;
		padding: 30px;
		margin: 0 auto;
		resize: vertical;
		background: #fff;
	}
}
